.form {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 50px;
  width: 100vh;
  height: 100vh;
}
.list {
  /* border: 1px solid red; */
  width: 100vh;
  margin: 20px;
}
form {
  display: flex;
  flex-direction: column;
  width: 100vh;
}
form .inputBox {
  width: 40vh;
  margin: 5px;
}
.list .btn_edit {
  margin: 5px;
}
.list .list_data {
  border: 1px solid grey;
  padding: 5px;
  color: blueviolet;
}
